#programs {
  padding: 0 30px;
}

#programs h1 {
  text-align: center;
  font-weight: bolder;
  color: #4b4b4d;
  margin: 20px 0;
  font-size: 3em;
}

#programs .main-program {
  display: flex;
  margin: 40px 0;
  flex-wrap: wrap;
  justify-content: center;
}

#programs .program {
  position: relative;
  width: 30%;
  border-radius: 15px;
  overflow: hidden;
  flex: 0 0 30%;
  margin: 20px;
}

#programs .program:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 5;
  transition: 0.2s;
}

#programs .program:hover:after {
  background: rgba(0, 0, 0, 0.2);
}

#programs .program img {
  display: block;
  width: 100%;
}

#programs .program .title {
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 100%;
  z-index: 7;
}

#programs .program .title > * {
  display: inline-block;
  background: #4b4b4d;
  color: #ffffff;
  padding: 10px 20px;
  font-weight: bolder;
  border-radius: 0 0 15px 15px;
  font-size: 2em;
}

#programs .program .donate {
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 20px 0;
  z-index: 7;
}

#programs .program .donate button {
  background: #00afee;
  font-size: 30px;
  font-weight: bolder;
  border-radius: 15px;
  color: #ffffff;
}

#programs .highlight {
  width: 70%;
  margin: 0 auto;
}

#programs .highlight .title > * {
  background: #d3c351;
  font-size: 2.5em;
}
