#about {
  margin: 0;
  position: relative;
  overflow: hidden;
}

#about .bg {
  position: fixed;
  width: 100%;
  z-index: -99;
  filter: brightness(30%);
  margin: 0;
}

#about.height .bg {
  height: 100%;
}

#about.width .bg {
  width: 100%;
}

#about .head-logo {
  margin-top: 7%;
  margin-bottom: 2%;
  width: 50%;
}
#about .logo {
  width: 50%;
}
#about .about-str {
  margin: 1% 0;
}
#about .about-str h5 {
  margin: 0;
  color: white;
  font-size: 1.1vw;
}
#about .about-str h1 {
  margin: 0;
  color: white;
  font-size: 3vw;
}
#about .donate button {
  background: #00afee;
  font-size: 2vw;
  font-weight: bolder;
  border-radius: 20px;
  color: #ffffff;
  border: none;
  margin: 3%;
}
#about .greyrec {
  z-index: 2;
  margin: 0 25vw 2vh 25vw;
  position: absolute;
  background-color: #c4c4c4;
  height: 0.6%;
  width: 50vw;
}
#about .boxhighlight {
  z-index: 1;
  background-color: #e9d758;
  opacity: 0.9;
  height: auto;
  width: 45vw;
  padding: 0.5%;
  margin: 0 27.5%;
  border-radius: 0 0 30px 30px;
}
#about .kolom-profile {
  align-self: center;
}
#about .col {
  padding: inherit;
  align-self: center;
}
#about .col-7 {
  padding: 15px;
  align-self: center;
}
#about .colrec {
  z-index: 2;
  margin-bottom: 10%;
  position: absolute;
  background-color: #c4c4c4;
  height: 0.6%;
  width: 50vw;
}

#about .testi-title h1 {
  margin: 0;
  color: white;
  font-size: 3vw;
  margin-top: 5%;
}
#about .testimony-rec {
  z-index: 2;
  margin: 0 35vw 2vh 35vw;
  position: absolute;
  background-color: white;
  height: 0.3%;
  width: 30vw;
}
#testimonies h2 {
  font-size: 2vw;
  color: white;
}
#testimonies h5 {
  font-size: 1vw;
  color: white;
}
.btn {
  background-color: #e9d758;
  border-color: #e9d758;
  color: white;
  height: auto;
  width: auto;
  margin: 0.5vh 0;
}
#testie_form {
  padding-top: 7%;
  padding-bottom: 7%;
  font-size: 1.5vw;
  width: 60%;
}
.form-control {
  height: auto%;
}
#make-testi {
  margin-top: 7%;
  margin-bottom: 7%;
  font-size: 1.5vw;
  width: auto%;
  height: auto;
  border-radius: 20px;
}
#submit-btn {
  margin-top: 3%;
  margin-bottom: 7%;
  font-size: 1.5vw;
  width: auto%;
  height: auto;
  border-radius: 20px;
}
