body {
  font-family: "Montserrat", sans-serif;
}

#navbar {
  background: #00afee;
}

#navbar .fas {
  color: #ffffff;
}

#navbar ul {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#navbar ul li {
  font-size: 24px;
  margin: 0 5px;
  font-weight: bold;
  transition: all 0.25s ease-in-out;
  border-radius: 15px;
  padding: 0 5px;
}

#navbar ul li:hover {
  background: #ffffff;
}

#navbar ul li a {
  color: #ffffff;
  transition: all 0.25s ease-in-out;
}

#navbar ul li:hover a {
  color: #00afee;
}

#navbar .navbar-brand {
  display: inline-block;
  max-width: 50%;
}

#navbar .navbar-brand img {
  width: 100%;
}

#content {
  padding-top: 64px;
}

@media only screen and (max-width: 550px) {
  #content {
    padding-top: 50px;
  }
}

#navbar .no-hover a {
  color: black;
}

#navbar .no-hover:hover {
  background: transparent;
}

#navbar .no-hover a:hover {
  color: black;
  cursor: auto;
}
