{% extends 'base.html' %} {% load static %} {% block content %}

<div id="register">
  <img class="bg" src="{% static 'img/bg-register.png' %}" />
  <div class="register-content">
    <div class="register-form">
      <h2>Login</h2>
      <div id="reg-form">
        <form class="login-form">
          <a href="{% url 'social:begin' 'google-oauth2' %}">
            <button type="button" class="btn btn-primary google-btn">
              Login with Google
            </button>
          </a>
          <a
            href="https://sso.ui.ac.id/cas2/login?service=http://{{ request.get_host }}/sso/login/"
          >
            <button type="button" class="btn btn-primary sso-btn">
              Login with SSO UI
            </button>
          </a>
        </form>
      </div>
    </div>

    <div class="register-thumbnail">
      <img src="{% static 'img/thumbnail.png' %}" alt="Sinar Perak Logo" />
      <p>
        Many people awaiting for your help. Your donation for better future.
      </p>
    </div>
  </div>
</div>

{% endblock content %}
