{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="register">
	<img class="bg" src="{% static 'img/bg-register.png' %}">
	<div class="register-content">
		<div class="register-form">
			<h2>Registration Form</h2>
			<div id="reg-form"></div>
		</div>

		<div class="register-thumbnail">
			<img src="{% static 'img/thumbnail.png' %}" alt="Sinar Perak Logo" />
			<p>Many people awaiting for your help. Your donation for better future.</p>
		</div>
	</div>
</div>
<script src="{% static 'js/reg-form.js' %}"></script>
<script>
	var token = "{{ csrf_token }}"; ReactDOM.render(React.createElement(FormRegister, { token: token }), document.getElementById("reg-form"));
</script>

{% endblock content %}