{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="donate">
	<div class="donate-content">
		<div class="donate-form">
			<form id="form" method="POST" action="/donation/">
				<h2>Donation Form</h2>
				{% csrf_token %}
				{{ donate_form }}
				<input id="submit" type="submit" class="btn btn-lg btn-block btn-info" value="Submit">
			</form>
		</div>

		<div class="donate-thumbnail">
			<h3>Donate to:</h3>
			<br>
			<div>
				<p>{{ program_list }}</p>
				{% if program.id in program_list %}
				<p>{{ program.name }}</p>
				{% endif %}
			</div>
		</div>
	</div>
</div>
<!-- <script src="{% static 'js/donate-form.js' %}"></script>
<script>
	var token = "{{ csrf_token }}"; ReactDOM.render(React.createElement(FormDonate, { token: token }), document.getElementById("donate-form"));
</script> -->

{% endblock content %}