{% extends 'base.html' %}
{% load static %}
{% block content %}

<div id="about">
  <img class="bg" src="{% static 'image/bg-image1.jpg' %}" alt="Background img1" />
  <center><img class="head-logo" src="{% static 'image/thumbnail.png' %}" alt="Sinar Perak img" /></center>
  <div class="greyrec"></div>
  <div class="boxhighlight">
    <div class="about-str">
      <center><h5>There is no caring, supporting, trusting each other that make us less human.</h5>
              <h5>Sinar Perak, here to fulfill your humanity desire</h5>
              <h5>You, and us, together we care, support, and trust, </h5>
              <h5>Together we help one another.</h5></center>
    </div>
  </div>
  <br>
  <div class="donate">
      <a href="/program">
          <center><button class="btn">DONATE NOW!</button><center>
      </a>
  </div>
  <div class="row" id="kolom-profile">
    <div class="col">
      <center><img class="logo" id="smalllogo" src="{% static 'image/thumbnail.png' %}" alt="Sinar Perak img" /></center>
    </div>
    <div class="col-7" id="about-us">
      <div class="row about-str">
        <div><h1>About us</h1></div>
      </div>
      <div class="row">
        <div class="colrec"></div>
      </div>
      <div class="row about-str" id="kolom-profile-str">
        <h5>Sinar Perak is a popular crowdfunding website among Web Design and Programming</h5>
        <h5>students at University of Indonesia. Providing the easiest way for people's</h5>
        <h5>willingness to share, without any limitation.</h5>
        <h5><br>Sinar Perak was found in October 18th, 2018, our first master's branch merging.</h5>
        <h5>From emotions into perfection, from mental-health's problem into passions, Eran,</h5>
        <h5>Gagah, Nur, and Sidiq, are survivor.</h5>
        <h5>In the sake of helping one another, day by day, develope.</h5>
      </div>
    </div>
  </div>
  <!-- <img class="bg" src="{% static 'image/bg-image.jpg' %}" alt="Background img2" /> -->
  <div class="testi-title">
    <center><h1>Testimonies</h1></center>
    <center><div class="testimony-rec"></div></center><br>
  </div>
  <div id="testimonies">
    <div class="user-testie">
      <center><h2>Name1</h2></center>
    </div>
    <div class="user-testie">
      <center><h5>This is going to be someone's testimony about our crowdfunding website</h5></center>
    </div>
    <div class="user-testie">
      <center><h2>Name2</h2></center>
    </div>
    <div class="user-testie">
      <center><h5>This is going to be someone's testimony about our crowdfunding website</h5></center>
    </div>
  </div>
  <center><button id= "make-testi" class="btn">Make my own testimony!</button></center>
  <section name="col form">
      <center><form id="testie_form" method="post" action="{% url 'about' %}">
        {% csrf_token %}
        {{ testi_form }}
        <br>
        <button type="submit" id="submit-btn" class="btn">Submit!</button>
      </form></center>
    </section>
</div>


{% endblock content %}
