#donate{
	position: relative;
  overflow: hidden;	
}

.donate-content{
	width: 100%;
	display: flex;
	flex-direction: column-reverse;
  padding-top: 20px;
	justify-content: center;
	align-items: center;
	min-height: calc(100vh - 64px);
}

.donate-form{
	width: 50%;
	border-radius: 15px;
	overflow: hidden;
}

.donate-form h2 {
  background: #e9d758;
  text-align: center;
  padding: 20px;
  margin: -50px;
  margin-bottom: 20px;
}

.donate-form form {
  background: #e5e5e5;
  padding: 40px;
}

label{
  padding-top: 10px;
  margin-bottom: 0px;
}

.donate-form input {
  border: 2px solid #4b4b4d;
  border-radius: 15px;
}

#submit {
  background: #00afee;
  border: transparent;
  margin-top: 20px;
}

.donate-thumbnail {
  width: 50%;
  color: #000000;
  border-radius: 15px;
  text-align: center;
  overflow: hidden;
  background: #e5e5e5;
  margin-bottom: 20px;
}

.donate-thumbnail p {
  font-size: 20px;
  display: block;
}

@media only screen and (max-width: 1024px){
  .register-content{
    padding: 0px;
  }

  .donate-form{
  width: 90%;
  position: relative;
  border-radius: 15px;
  margin: 0 auto 30px;
}
  
  .donate-form h2{
    margin: -20px;
    margin-bottom: 20px; 
  }

   .donate-thumbnail {
    width: 90%;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 20px;
  }

  .donate-thumbnail p {
    font-size: 5vw;
    display: block;
  }
}

  @media only screen and (max-width: 1024px) {
  .donate-form form {
    padding: 15px;
  }
}