
#news {
  width: 100%;
  margin: 0;
  padding: 0;
}
#news .rowhl {
  z-index: 1;
  position: absolute;
  padding: 0;
  right: 0;
  left: 0;
  margin: 0;
}
#news img {
    width: 100%;
    height: 45vh;
}
#news .highlightimg {
  z-index: -1;
  opacity: 0.5;
}
#news .greyrec {
  z-index: 2;
  margin: 0 25vw;
  position: absolute;
  top: 10%;
  background-color: #C4C4C4;
  height: 0.6vh;
  width: 50vw;
}
#news .boxhighlight {
  z-index: 1;
  background-color: #E9D758;
  position: absolute;
  opacity: 0.8;
  top: 10%;
  height: auto;
  width: 45vw;
  padding: 0.5%;
  margin: 0 27.5%;
  border-radius: 0 0 30px 30px;
}
#news h1 {
  color: white;
  position: relative;
  font-size: 4vh;
  margin: 0;
  padding: inherit;
}
#news h3 {
  font-size: 3vh;
}
#news h2 {
  z-index: 1;
  position: relative;
  color: white;
  text-align: center;
  font-size: 3.5vh;
  padding: 25vh 0 0;
  margin-bottom: 0;
}
#news h6 {
  z-index: 1;
  color: white;
  position: relative;
  text-align: center;
  font-size: 2vh;
  padding: 2vh 0 0;
}
#news .btn {
  z-index: 2;
  position: relative;
  background-color: #00AAFE;
  border-color: #00AAFE;
  border-radius: 15px;
  color: white;
  height: auto;
  width: auto;
  font-size: 1.8vh;
}
#news .row {
  z-index: 1;
  padding: 2% 0;
}
#news .newsimg {
  border-radius: 15px;
  width: 30vw;
  height: auto;
  margin: auto;
}
#news .col {
  padding: inherit;
  align-self: center;
}
#news .col-7 {
  padding: 15px;
  align-self: center;
}
#news .title {
  color: black;
  text-align: left;
}
#news .text {
  color: black;
  font-size: 1.5vh;
  text-align: left;
}
#news p {
  margin: 1% 0;
}
#news .linkreadmore {
  color: #00AAFE;
  font-size: 10px;
}
