{% extends 'base.html' %} {% load static %}
<!---->
{% load staticfiles %} {% block content %}

<div id="programs">
  <h1>Available Donation Program</h1>
  <div class="program highlight">
    <div class="title">
      <h2>{{ highlight.name }}</h2>
    </div>
    <img src="{{ highlight.image }}" />
    <div class="donate">
      {% if user.is_authenticated %}
      <a href="/donate/{{ highlight.id }}">
        <button class="btn">DONATE NOW!</button>
      </a>
      {% else %}
      <button
        type="button"
        class="btn btn-primary"
        data-toggle="modal"
        data-target="#exampleModalCenter"
      >
        DONATE NOW!
      </button>
      {% endif %}
    </div>
  </div>

  <div class="main-program">
    {% for program in programs %}
    <div class="program">
      <div class="title">
        <h3>{{ program.name }}</h3>
      </div>
      <img src="{{ program.image }}" />
      <div class="donate">
        {% if user.is_authenticated %}
        <a href="/donate/{{ program.id }}">
          <button class="btn">Donate</button>
        </a>
        {% else %}
        <button
          type="button"
          class="btn btn-primary"
          data-toggle="modal"
          data-target="#exampleModalCenter"
        >
          DONATE NOW!
        </button>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>

<div
  class="modal fade"
  id="exampleModalCenter"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalCenterTitle"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Login</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          <button type="button" class="btn btn-primary google-btn">
            Login with Google
          </button>
        </a>
        <a
          href="https://sso.ui.ac.id/cas2/login?service=http://{{ request.get_host }}/sso/login/"
        >
          <button type="button" class="btn btn-primary sso-btn">
            Login with SSO UI
          </button>
        </a>
      </div>
    </div>
  </div>
</div>

<script>
  $("#myModal").on("shown.bs.modal", function() {
    $("#myInput").trigger("focus");
  });
</script>

{% endblock content %}
