{% extends 'base.html' %}
{% block content %}

      <div id="news">
        <div class="rowhl">
          <div><img class="highlightimg" src="https://asset.kompas.com/crop/0x0:1000x667/750x500/data/photo/2018/10/09/2684547412.jpg" alt="highlightimg"></div>
        </div>
        <div class="row">
          <div class="greyrec"></div>
          <div class="boxhighlight"><h1><strong><center>HIGHLIGHT NEWS</center></strong></h1></div>
          <div><center><h2>{{ highlight_title }}</h2></center>
          <div><center><h6>{{ highlight_short_text }}</h6></center>
          <div><center><button type="submit" class="btn btn-default"><strong>READ MORE!</strong></button></center>
          <br><br><br>
        </div>
        <div class="row">
          <div class="col">
            <center><img class="newsimg" src="https://ichef.bbci.co.uk/news/1024/cpsprodpb/70E7/production/_103830982_gettyimages-1046032522.jpg" alt="newsimg"></center>
          </div>
          <div class="col-7">
            <div class="title"><h3><strong>{{ news1_title }}</strong></h3></div>
            <div class="text"><p>{{ news1_text }}</p></div>
            <div><a class="linkreadmore" href="lalal"><em>Read more . . . . .</em></a></div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <center><img class="newsimg" src="https://static.breakingnews.co.id/83274/conversions/maxres/acdm-didesak-koordinasi-bantuan-gempa-donggala-palu.jpg" alt="newsimg"></center>
          </div>
          <div class="col-7">
            <div class="title"><h3><strong>{{ news2_title }}</strong></h3></div>
            <div class="text"><p>{{ news2_text }}</p></div>
            <div><a class="linkreadmore" href="lalal"><em>Read more . . . . .</em></a></div>
          </div>
        </div>
      </div>

{% endblock content %}
