#register {
  position: relative;
  overflow: hidden;
}

#register .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  filter: brightness(0.5);
}

#register.height .bg {
  height: 100%;
}

#register.width .bg {
  width: 100%;
}

.register-content {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 20px;
  align-items: center;
  min-height: calc(100vh - 64px);
}

.register-form {
  width: 50%;
  margin-right: 20px;
  border-radius: 15px;
  overflow: hidden;
}

.register-form h2 {
  background: #e9d758;
  text-align: center;
  padding: 20px 10px;
  margin: 0;
}

.register-form form {
  background: #e5e5e5;
  padding: 40px;
}

.register-form .alert-success {
  border: 2px solid #229306;
  border-radius: 15px;
}

.register-form input {
  border: 2px solid #4b4b4d;
  border-radius: 15px;
}

.register-form button {
  background: #00afee;
  border: transparent;
  margin-top: 20px;
}

.register-thumbnail {
  width: 35%;
  margin-left: 20px;
  color: #ffffff;
  text-align: right;
  overflow: hidden;
}

.register-thumbnail img {
  display: block;
  margin: 0 0 0 auto;
  width: 70%;
}

.register-thumbnail p {
  font-size: 3em;
  display: block;
}

@media only screen and (max-width: 1024px) {
  .register-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    padding: 0px;
  }

  .register-form {
    width: 90%;
    position: relative;
    border-radius: 15px;
    margin: 0 auto 30px;
  }

  .register-thumbnail {
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 30px;
  }

  .register-thumbnail img {
    display: block;
    margin: auto;
    width: 70%;
  }

  .register-thumbnail p {
    font-size: 5vw;
    display: block;
  }
}

@media only screen and (max-width: 1024px) {
  .register-form form {
    padding: 15px;
  }
}

.register-form form.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
}

.register-form form.login-form button {
  margin: 10px;
}

@media only screen and (max-width: 1024px) {
  .register-form form.login-form {
    flex-direction: column;
  }
}
